<input
  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline {{ error ? 'border-red-500' : ''}}"
  type="{{ type || 'text' }}"
  name="{{ name }}"
  value="{{ value }}"
  placeholder="{{ placeholder || ''}}"
/>
{{ elIf('<p class="text-red-500 text-xs italic mt-1">$self</p>', error, error) }}