<a href="{{ href }}" class="inline-block py-1 px-3 shadow-md rounded-full bg-blue-500 text-white text-sm border-blue-500 btn-primary hover:text-white hover:bg-blue-400 focus:outline-none active:shadow-none mr-2">{{ label }}</a>